*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
   


body{
    
    /* font-family: 'SF Pro',  -apple-system, sans-serif; */
    font-family:  -apple-system, 'Inter', sans-serif;
}

.navtop{
    position:  sticky;
    top: 0;
    z-index: 1;
    /* position: fixed; */
    /* width: 100%; */

    background-color: rgba(251, 251, 251, 0.98);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-inline: 180px;
    height: 45px;
}





.navtop ul{
    display: flex;
    list-style: none;
    gap: 40px;  
  
}
.navtop ul li a{
    
    font-weight: 200;
    font-size: 12px;
}


.navtop a{
    text-decoration: none;
    color: black;
    font-weight: 100;
    
}
.fa-apple{
    font-size: 110%;
}
.navbarlogo:hover{
    color: rgba(23, 21, 21, 0.647);
}

.navtop ul li a:hover{
    color: rgba(23, 21, 21, 0.647);
    
}

.afternav{
    /* padding-top: 60px; */
    margin-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    gap: 5px;

    font-size: 14px;
    font-weight: 300;
}

.shop a{
    text-decoration: none;
    color: rgb(83, 163, 239);
}

.section1{
    background: linear-gradient(180deg, rgb(205, 230, 244), rgb(240, 245, 246));
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.section1 h1{
    color: rgb(29, 29, 31);
    padding-top: 50px;
    font-size: 55px;
    font-weight: 500;
}

.section1 h2{
    color: rgb(29, 29, 31);
    font-size:28px;
    font-weight: 300;
}


.bothbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 20px; 
    
}

.learnmore1{
    font-size: 16px;
    font-weight: 300;
    height: 40px;
    width: 130px;
    color: white;
    background-color: rgb(48, 111,219);
    border-radius: 20px;
    border: none;
}

.buy1{
    font-size: 16px;
    font-weight: 300;
    height: 40px;
    width: 70px;
    color: white;
    background-color: transparent;
    border-radius: 20px;
    border: solid ;
    border-color: rgb(48, 111, 219);
    border-width: 1px;
    color: rgb(48, 111, 219);
}
.section1 img{
    height: 350px;    
}
.gradient-text1{
    font-size: 21px;
    font-weight: 500;
    background: linear-gradient(90deg, #007aff, #ff2d55); /* Blue to Pinkish Red */
      /* -webkit-background-clip: text; */
      /* -webkit-text-fill-color: transparent;*/ /*Ensure the gradient applies correctly     */
}


.section1 p{  
    color: #888;
    font-size: 14px;
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 40px;
}

.section2{
    margin-top: 15px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, rgb(159, 214, 229), rgb(241, 244, 242));
}

.section2 .heading{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    color: rgb(29, 29, 31);
    padding-top: 50px;
    gap: 10px;
} 

.section2 .ipad{
    font-size: 60px;
    font-weight: 500;
}

.section2 .air{
 height: 40px;
}

.section2 h2{
    color: rgb(29, 29, 31);
    font-size:28px;
    font-weight: 300;
}

.bothbutton2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 20px;   
}
.learnmore2{
    font-size: 16px;
    font-weight: 300;
    height: 40px;
    width: 130px;
    color: white;
    background-color: rgb(48, 111,219);
    border-radius: 20px;
    border: none; 
}

.buy2{
    font-size: 16px;
    font-weight: 300;
    height: 40px;
    width: 70px;
    color: white;
    background-color: transparent;
    border-radius: 20px;
    border: solid ;
    border-color: rgb(48, 111, 219);
    border-width: 1px;
    color: rgb(48, 111, 219);  
}

.section2 .ipadimg{
    height: 400px;
    margin-right: 200px;  
}
.gradient-text{
    font-size: 21px;
    font-weight: 500;
    background: linear-gradient(90deg, #007aff, #ff2d55); /* Blue to Pinkish Red */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;/* Ensure the gradient applies correctly */     
}


.section2 p{  
    color: #888;
    margin-top: 8px;
    margin-bottom: 40px;
    font-size: 14px;
    font-weight: 300;   
}

.section3{
    margin-top: 15px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(242, 242, 245);
}

.section3 h1{
    color: rgb(29, 29, 31);
    font-size: 55px;
    font-weight: 600;
}

.section3 h2{
    color: rgb(29, 29, 31);
    font-size:28px;
    font-weight: 300;
}

.bothbutton3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 25px; 
    margin-bottom: 50px;  
}

.learnmore3{
    font-size: 16px;
    font-weight: 300;
    height: 40px;
    width: 130px;
    color: white;
    background-color: rgb(48, 111,219);
    border-radius: 20px;
    border: none;
}

.buy3{
    font-size: 16px;
    font-weight: 300;
    height: 40px;
    width: 70px;
    color: white;
    background-color: transparent;
    border-radius: 20px;
    border: solid ;
    border-color: rgb(48, 111, 219);
    border-width: 1px;
    color: rgb(48, 111, 219);
}

.section3 img{
    height: 200px;   
}
.gradient-text{
    margin-top: 50px;
    font-size: 21px;
    font-weight: 500;
    background: linear-gradient(90deg, #007aff, #ff2d55); /* Blue to Pinkish Red */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;/* Ensure the gradient applies correctly */    
}


.section3 p{  
    color: #888;
    font-size: 14px;
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 50px; 
}  


.section4{
    display: flex;
    margin-block: 12px;
   
}
.section4 .ipaddiv{
    margin-left: 12px;
    margin-right: 11px;
    width: 695px;
    height: 580px;
    background-color: #f6f6f6;
    
}
.section4 .iphonediv{
    margin-right: 12px;
    width: 695px;
    height: 580px;
    background-color: #f6f6f6;
}

.section4 .ipaddiv img{
    height: 300px;
}

.section4 .iphonediv img{
    height: 300px;
}








.sectionlast{
    margin-top: 20px;
    padding-inline: 250px;
    background-color: #f6f6f6;
}

.description{
    padding-top: 20px;
}

.description p{
    color: #888;
}

.hrbottom{
    margin-top: 20px;
    height: 1px;  
}



@media screen and (max-width:700px) 
{
    .navbar label{
        display: block;
    }
    .navtop ul{
        display: none;
    }
    .navtop ul{
        display: none;
        position: absolute;
        top: 100px;
        background-color: beige;
        width: 100%;
       
    }
    .navtop ul li{
        padding: 20px;
        
    }

    .navtop .search{
        display: none;
    }

    .navtop .bag{
        display: none;
    }

    section{
        display: none;
    }

    #click:checked~.navtop ul{
        display: block;
    }
    



    
}

.navtop label{
    display: none;
    
    
}





