*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}






body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navtop{
    position:  sticky;
    top: 0;
    /* position: fixed; */
    /* width: 100%; */

    background-color: rgba(251, 251, 251, 0.98);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    gap: 5vh ;
    

   
}
.navtop div{
    display: flex;
    gap: 5vh;
 }





.navtop ul{
    display: flex;
    list-style: none;
    gap: 5vh;
}

.navtop ul li a{
    
    font-weight: 200;
    font-size: 12px; 
}


.navtop a{
    text-decoration: none;
    color: black;
    font-weight: 100;
    
}
.fa-apple{
    font-size: 110%;
}
.navbarlogo:hover{
    color: rgba(23, 21, 21, 0.647);
}

.navtop ul li a:hover{
    color: rgba(23, 21, 21, 0.647);
    
}

.afternav{
    /* padding-top: 60px; */
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding-bottom: 15px;
    font-size: 1.81vh;
    font-weight: 300;
    
}

.afternav p{
    text-align: center;
    max-width: 95%;
}

.afternav a{
    text-decoration: none;
    color: rgb(83, 163, 239);
}



.section1{
    background: linear-gradient(180deg, rgb(205, 230, 244), rgb(240, 245, 246));
    display: flex;
    flex-direction: column;
    align-items: center;

    

}
    
.section1 h1{
    color: rgb(29, 29, 31);
    padding-top: 50px;
    font-size: 55px;
    font-weight: 500;
}

.section1 h2{
    color: rgb(29, 29, 31);
    font-size:28px;
    font-weight: 300;
}


.bothbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 20px; 
    
    
}

.learnmore1{
    font-size: 16px;
    font-weight: 300;
    height: 40px;
    width: 130px;
    color: white;
    background-color: rgb(48, 111,219);
    border-radius: 20px;
    border: none;
}

.buy1{
    font-size: 16px;
    font-weight: 300;
    height: 40px;
    width: 70px;
    color: white;
    background-color: transparent;
    border-radius: 20px;
    border: solid ;
    border-color: rgb(48, 111, 219);
    border-width: 1px;
    color: rgb(48, 111, 219);
}
.section1 img{
    height: 44vh; 
}
.gradient-text1{
    font-size: 21px;
    font-weight: 500;
    background: linear-gradient(90deg, #007aff, #ff2d55); /* Blue to Pinkish Red */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; /*Ensure the gradient applies correctly     */
}


.section1 p{  
    color: #888;
    font-size: 14px;
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 40px;
}

.section2{
    margin-top: 15px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, rgb(159, 214, 229), rgb(241, 244, 242));
  
}
.section2 .heading{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    color: rgb(29, 29, 31);
    padding-top: 50px;
    gap: 10px;
} 

.section2 .ipad{
    font-size: 60px;
    font-weight: 500;
}

.section2 .air{
 height: 40px;
}

.section2 h2{
    color: rgb(29, 29, 31);
    font-size:28px;
    font-weight: 300;
}

.bothbutton2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 20px;   
}
.learnmore2{
    font-size: 16px;
    font-weight: 300;
    height: 40px;
    width: 130px;
    color: white;
    background-color: rgb(48, 111,219);
    border-radius: 20px;
    border: none; 
}

.buy2{
    font-size: 16px;
    font-weight: 300;
    height: 40px;
    width: 70px;
    color: white;
    background-color: transparent;
    border-radius: 20px;
    border: solid ;
    border-color: rgb(48, 111, 219);
    border-width: 1px;
    color: rgb(48, 111, 219);  
}

.section2 .ipadimg{
    height: 50vh;
    margin-right: 25vh;  
}
.gradient-text{
    font-size: 21px;
    font-weight: 500;
    background: linear-gradient(90deg, #007aff, #ff2d55); /* Blue to Pinkish Red */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;/* Ensure the gradient applies correctly */     
}


.section2 p{  
    color: #888;
    margin-top: 8px;
    margin-bottom: 40px;
    font-size: 14px;
    font-weight: 300;   
}

.section3{
    margin-top: 15px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(242, 242, 245);
    
}

.section3 h1{
    color: rgb(29, 29, 31);
    font-size: 55px;
    font-weight: 600;
}

.section3 h2{
    color: rgb(29, 29, 31);
    font-size:28px;
    font-weight: 300;
}

.bothbutton3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 25px; 
    margin-bottom: 50px;  
}

.learnmore3{
    font-size: 16px;
    font-weight: 300;
    height: 40px;
    width: 130px;
    color: white;
    background-color: rgb(48, 111,219);
    border-radius: 20px;
    border: none;
}

.buy3{
    font-size: 16px;
    font-weight: 300;
    height: 40px;
    width: 70px;
    color: white;
    background-color: transparent;
    border-radius: 20px;
    border: solid ;
    border-color: rgb(48, 111, 219);
    border-width: 1px;
    color: rgb(48, 111, 219);
}

.section3 img{
    height: 25vh;   
}
.gradient-text{
    margin-top: 50px;
    font-size: 21px;
    font-weight: 500;
    background: linear-gradient(90deg, #007aff, #ff2d55); /* Blue to Pinkish Red */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;/* Ensure the gradient applies correctly */    
}


.section3 p{  
    color: #888;
    font-size: 14px;
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 50px; 
}  


.grid{
    height: 200vh;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 12px;
    gap: 12px;
    
   
}

.grid div {
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    height: 100%; /* Adjust as needed */
}


.grid .gridSec1 {
    background-image: url(ipad.jpg);
        
    
}
.grid .gridSec2 {
    background-image: url(iphone16fam.jpg);
  
}
.grid .gridSec3 {
    background-image: url(tradein.jpg);
   
}
.grid .gridSec4 {
    background-image: url(watch.jpg);
  
}
.grid .gridSec5 {
    background-image: url(airpods.jpg);
   
}
.grid .gridSec6 {
    background-image: url(ipadpro.jpg);
    
}    










#click{
    display: none;
}
.navtop div label{
    display: none;
}





@media screen and (max-width:830px) 
{
    .navtop div label{
        display: block;
        margin-right: 3vh;
    }
    
  
    .navtop ul{
        display: none;
        position: fixed; 
        top: 60px;
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 100vh;
        

    
    }

    .navtop ul li{
        padding: 20px;
       
        
    }

    .navtop {
        display: flex;
        justify-content: space-between;
        
    }


    .navtop .fa-apple{
        margin-left: 3vh;
    }
    
    
    


    #click:checked~.navtop ul{
        display: block;
    }

    .grid{
        height: 400vh;  
        display: grid;
        grid-template-columns: 100%;
        grid-auto-rows: 1fr;
        margin: 12px;
        gap: 12px;
        
       
    }
    
}








