*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body{
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family:  -apple-system, 'Inter', sans-serif;
}
.navtop{
    position:  sticky;
    top: 0;
    background-color: rgba(251, 251, 251, 0.98);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    gap: 50px; 
}
#click{
    display: none;
}
.navtop div{
    display: flex;
    gap: 50px;
 }
.navtop div label{
    display: none;
}

.navtop ul{
    display: flex;
    list-style: none;
    gap: 50px;
}
.navtop ul li a{
    
    font-weight: 200;
    font-size: 12px; 
}
.navtop a{
    text-decoration: none;
    color: black;
    font-weight: 100;    
}
.fa-apple{
    font-size: 110%;
}
.navbarlogo:hover{
    color: rgba(23, 21, 21, 0.647);
}

.navtop ul li a:hover{
    color: rgba(23, 21, 21, 0.647); 
}

.afternav{
    /* padding-top: 60px; */
    margin-top: 15px;
    padding-bottom: 15px;
    font-size: 13.5px;
    font-weight: 300;  
}

.afternav p{
    text-align: center;
    margin: auto;
    width: 95%;
}

.afternav a{
    text-decoration: none;
    color: rgb(83, 163, 239);
}


.section1{
    /* background: linear-gradient(180deg, rgb(205, 230, 244), rgb(240, 245, 246)); */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(ss/macbookair.jpg);

    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    height: 100%; /*Adjust as needed */
}  
.section1 h1{
    color: rgb(29, 29, 31);
    padding-top: 50px;
    font-size: 55px;
    font-weight: 500;
}
.section1 h2{
    color: rgb(29, 29, 31);
    font-size:28px;
    font-weight: 300;
}
.bothbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 20px;     
}
.learnmore1{
    font-size: 16px;
    font-weight: 300;
    height: 40px;
    width: 130px;
    color: white;
    background-color: rgb(48, 111,219);
    border-radius: 20px;
    border: none;
}
.buy1{
    font-size: 16px;
    font-weight: 300;
    height: 40px;
    width: 70px;
    color: white;
    background-color: transparent;
    border-radius: 20px;
    border: solid ;
    border-color: rgb(48, 111, 219);
    border-width: 1px;
    color: rgb(48, 111, 219);
}
.gradient-text1{
    margin-top: 350px;
    font-size: 21px;
    font-weight: 500;
    background: linear-gradient(90deg, #007aff, #ff2d55); /* Blue to Pinkish Red */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; /*Ensure the gradient applies correctly     */
}
.section1 p{  
    color: #888;
    font-size: 14px;
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 40px;
}


.section2{
    margin-top: 15px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(ss/ipadair.jpg);
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    height: 100%; /*Adjust as needed */ 
}
.section2 .heading{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    color: rgb(29, 29, 31);
    padding-top: 50px;
    gap: 10px;
}
.section2 .ipad{
    font-size: 60px;
    font-weight: 500;
}
.section2 .air{
 height: 40px;
}
.section2 h2{
    color: rgb(29, 29, 31);
    font-size:28px;
    font-weight: 300;
}
.bothbutton2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 20px;   
}
.learnmore2{
    font-size: 16px;
    font-weight: 300;
    height: 40px;
    width: 130px;
    color: white;
    background-color: rgb(48, 111,219);
    border-radius: 20px;
    border: none; 
}
.buy2{
    font-size: 16px;
    font-weight: 300;
    height: 40px;
    width: 70px;
    color: white;
    background-color: transparent;
    border-radius: 20px;
    border: solid ;
    border-color: rgb(48, 111, 219);
    border-width: 1px;
    color: rgb(48, 111, 219);  
}
.gradient-text2{
    font-size: 21px;
    font-weight: 500;
    background: linear-gradient(90deg, #007aff, #ff2d55); /* Blue to Pinkish Red */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;/* Ensure the gradient applies correctly */  
    margin-top: 400px;     
}
.section2 p{  
    color: #888;
    margin-top: 8px;
    margin-bottom: 40px;
    font-size: 14px;
    font-weight: 300;   
}


.section3{
    margin-top: 15px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: rgb(242, 242, 245); */
    background-image: url(ss/macstudio.jpg);
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    height: 100%; /*Adjust as needed */
}
.section3 h1{
    color: rgb(29, 29, 31);
    font-size: 55px;
    font-weight: 600;
}
.section3 h2{
    color: rgb(29, 29, 31);
    font-size:28px;
    font-weight: 300;
}
.bothbutton3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 25px; 
    margin-bottom: 50px;  
}
.learnmore3{
    font-size: 16px;
    font-weight: 300;
    height: 40px;
    width: 130px;
    color: white;
    background-color: rgb(48, 111,219);
    border-radius: 20px;
    border: none;
}
.buy3{
    font-size: 16px;
    font-weight: 300;
    height: 40px;
    width: 70px;
    color: white;
    background-color: transparent;
    border-radius: 20px;
    border: solid ;
    border-color: rgb(48, 111, 219);
    border-width: 1px;
    color: rgb(48, 111, 219);
}
.gradient-text3{
    margin-top: 250px;
    font-size: 21px;
    font-weight: 500;
    background: linear-gradient(90deg, #007aff, #ff2d55); /* Blue to Pinkish Red */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;/* Ensure the gradient applies correctly */  
}
.section3 p{  
    color: #888;
    font-size: 14px;
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 50px; 
}  


.grid{
    height: 1760px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 1fr;
    margin: 12px;
    gap: 12px;   
}
.grid .in {
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    /* height: 100%; Adjust as needed */
    text-align: center;
}
.grid .in h1{
    margin-top: 50px;
    color: rgb(29, 29, 31);
    font-size: 40px;
    font-weight: 600;
}
.grid .in h2{
    color: rgb(29, 29, 31);
    font-size:20px;
    font-weight: 300;
}
.grid .gridSec1 {
    background-image: url(ss/ipad.jpg);
}
.grid .gridSec2 {
    background-image: url(ss/iphone16fam.jpg);
}
.grid .gridSec3 {
    background-image: url(ss/tradein.jpg);
}
.grid .gridSec4 {
    background-image: url(ss/watch.jpg);
}
.grid .gridSec5 {
    background-image: url(ss/airpods.jpg);
}
.grid .gridSec6 {
    background-image: url(ss/ipadpro.jpg);
}  
.grid .in .bothbutton .button1{
    font-size: 14px;
    font-weight: 300;
    height: 36px;
    width: 104px;
    color: white;
    background-color: rgb(48, 111,219);
    border-radius: 20px;
    border: none;
}
.grid .in .bothbutton .button2{
    font-size: 14px;
    font-weight: 300;
    height: 35px;
    width: 60px;
    color: white;
    background-color: transparent;
    border-radius: 20px;
    border: solid ;
    border-color: rgb(48, 111, 219);
    border-width: 1px;
    color: rgb(48, 111, 219);
}
.grid .gridSec3 .bothbutton .button1{
    font-size: 14px;
    font-weight: 300;
    height: 36px;
    width: 150px;
    color: white;
    background-color: rgb(48, 111,219);
    border-radius: 20px;
    border: none;
}
.grid .gridSec2 .bothbutton{
    margin-top: -5px;
}
.grid .gridSec3 img{
    margin-top: 50px;
    margin-bottom: 10px;
    height: 30px;
}
.grid .gridSec4 img{
    margin-top: 50px;
    margin-bottom: 10px;
    height: 60px;
}
.grid .gridSec5 h1{
    margin-top: 330px;
    margin-bottom: 10px;
    color: white;
}
.grid .gridSec5 h2,
.grid .gridSec6 h1,
.grid .gridSec6 h2 {
    color: white;
}
.grid .gridSec6 .gradient-text{
    margin-top: 300px;
    margin-bottom: 5px;
}
.grid .gridSec6 p{
    color: rgb(100, 100, 100);
}
.grid .in .gradient-text{
    font-size: 16px;
    font-weight: 500;
    background: linear-gradient(90deg, #007aff, #ff2d55); /* Blue to Pinkish Red */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;/* Ensure the gradient applies correctly */     
}
.grid div p{  
    color: #888;
    font-size: 12px;
    font-weight: 300;
    /* margin-top: 8px; */
    /* margin-bottom: 50px;  */
}  
.grid .gridSec1 .bothbutton{
    margin-bottom: 20px;
}
.grid .gridSec2 .bothbutton{
    margin-bottom: 10px;
}


.foooter{
    background-color: rgb(244, 242, 245);
    padding-bottom: 20px;
}
#foooter{
    width: 980px;
    margin: auto;
    padding-top: 5px;
}
.bottom{  
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
}
.bottom div h1{
    color: rgb(24, 24, 24);
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
}
.bottom div p{
    color: #888;
    font-size: 12px;
    font-weight: 400;
    margin-block: 8px;
}
.line hr{
    margin-block: 50px;
    height: 1px;
    background-color: #888;
}
.bottom div{
    color: #888;
    font-size: 12px;
}
.bottom div h1{
    color: black;
}
.footer1 p{
    color: #888;
    font-size: 12px;
    font-weight: 400;
    margin-top: 50px; 
}
.footer1 p a{
    color: rgb(83, 163, 239);
}
.foot{
   display: flex;
   justify-content: space-between;
}
.foot div{
    display: flex;
    gap: 30px;
}
.foot p{
    color: #888;
    font-size: 12px;
    font-weight: 400;
}
.foot .div1 p a{
    text-decoration: none;
    color: #888;
}
.foot p a:hover{
    text-decoration: underline;  
}


@media screen and (max-width:1080px){
    #foooter{
        width: 95%;
        margin: auto;
    }
}


@media screen and (max-width:830px) 
{
    .navtop div label{
        display: block;
        margin-right: 20px;
    }
    .navtop ul{
        display: none;
        position: fixed; 
        top: 45px;
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 100%;
    }
    .navtop ul li{
        padding: 20px;   
    }
    .navtop {
        display: flex;
        justify-content: space-between;    
    }
    .navtop .fa-apple{
        margin-left: 20px;
    }
    #click:checked~.navtop ul{
        display: block;
    }
}


@media screen and (max-width:750px) {
    .afternav p{
        width: 80%;
    }
    .section1,
    .section2,
    .section3{
        height: 510px;
    }
    .section1{
        background-image: url(ss/MobileView/macbookAirm4.jpeg);
    }
    .section2{
        background-image: url(ss/MobileView/iPadAir.jpeg);
    }
    .section3{
        background-image: url(ss/MobileView/MacStudio.jpeg);
    }
    .section1 h1,
    .section2 .heading,
    .section2 .heading h1,
    .section3 h1{
        margin-top: -20px;
        font-size: 40px;
        font-weight: 600;
    }
    .section1 h2,
    .section2 h2,
    .section3 h2{
        font-size: 20px;
    }
    .section2 .heading img{
        height: 30px;
    }
    .learnmore1,
    .learnmore2,
    .learnmore3{
        font-size: 14px;
        font-weight: 300;
        height: 36px;
        width: 104px;
        color: white;
        background-color: rgb(48, 111,219);
        border-radius: 20px;
        border: none;
    }
    .buy1,
    .buy2,
    .buy3{
        font-size: 14px;
        font-weight: 300;
        height: 35px;
        width: 60px;
        color: white;
        background-color: transparent;
        border-radius: 20px;
        border: solid ;
        border-color: rgb(48, 111, 219);
        border-width: 1px;
        color: rgb(48, 111, 219);
    }    
    .gradient-text1{
        margin-top: 280px;
        font-size: 16px;
        font-weight: 500;
    }
    .gradient-text2{
        margin-top: 300px;
        font-size: 16px;
        font-weight: 500;
    }
   
    .gradient-text3{
        margin-top: 210px;
        font-size: 16px;
        font-weight: 500;
    }
    .section1 p,
    .section2 p,
    .section3 p{
        display: none;
    }


    .grid{
        height: 3060px;
        grid-template-columns: 1fr;
    }
    .grid .gridSec2 {
        background-image: url(ss/MobileView/iPhone.jpeg);
    }
    .grid .gridSec3 {
        background-image: url(ss/tradein.jpg);
    }
    .grid .gridSec4 {
        background-image: url(ss/MobileView/watch10.jpeg);
    }
    .grid .gridSec5 {
        background-image: url(ss/airpods.jpg);
    }
    .grid .gridSec6 {
        background-image: url(ss/MobileView/iPadPro.jpeg);
    }  
    .grid .gridSec2 h1,
    .grid .gridSec5 h1,
    .grid .gridSec6 h1{
        margin-top: 30px;
        color: rgb(255, 255, 255);
        font-size: 30px;
    }
    .grid .gridSec1 h1{
        margin-top: 20px;
        font-size: 30px;
    }
    .grid .gridSec2 h2{
        display: none;
    }
    .grid .gridSec2 .bothbutton .button2{
        color: rgb(0, 0, 0);
        border-color: rgb(255, 255, 255);
        color: rgb(255, 255, 255);
    }
    .grid .gridSec2 .bothbutton .button1{
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
    }
    .grid .gridSec2 .gradient-text{
        margin-top: 9px;
        background: white;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;/* Ensure the gradient applies correctly */    
    }
    .grid .gridSec6 .gradient-text{
        margin-top: 310px;
    }
    .grid .gridSec5 h1{
        margin-top: 290px;
    }
    .grid .gridSec4 img,
    .grid .gridSec3 img{
        margin-top: 30px;
    }


    .bottom{
        display: block;
    }
    .bottom div p{
        display: none;
    }
    .bottom div h1{
        font-size: 16px;
        font-weight: 600;
        color: #4d4d4d;
    }
    .foot{
        flex-direction: column-reverse;
        gap: 20px;      
    }
    .foot .div1{
        flex-direction: column;
        gap:5px;
    }
    .line hr{
        margin-block: 30px;
    }
}





