*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
   

    background-color: #333;
    
    color: white;
     /* Keeps it on top of other elements */
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
  
   
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
  }
  
  body {
 /* Remove default margin for full-width nav */
    padding-top: 600px; Push content below the fixed nav
  }